DATABASE_URL=postgresql://username:password@localhost:5432/default_database?schema=public
JWT_SECRET=jwtsecretkey
JWT_EXPIRES_IN=24h

FRONTEND_URL=http://localhost:3000

MAIL_FROM="maxime.wiatr@gmail.com"
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""